/* linguagem de texto */
:root{
    --cor-e-fundo: #0000ff;
    --cor-de-texto: #ffffff;
}

body{
    background-color: var(--cor-e-fundo);
    color:var(--cor-de-texto);
}
header{
    display: flex;
}