/* linguagem de texto */
:root {
    --cor-e-fundo: #ffffff;
    --cor-de-texto: #000000;
}

img {
    width: 47%;
}

body {
    background-color: var(--cor-e-fundo);
    color: var(--cor-de-texto);
}

header {
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: yellowgreen;
    color: #ffffff;
}

.logo {
    width: 10%;
}

.bola-dourada {
    font-size: 27px;
    text-align: center;
}

.campo-de-futebor {
    background-image: url(0.png);
    height: 800px;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 24% 50% 25%;
    text-align: center;
}

#equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding: 50px 0;
}

.foto-equipe {
    width: 39%;
}

.linha-1 {
    display: grid;
    
    grid-template-columns: 35% 35% 36%;
    /* text-align: center; */
    justify-items: center;
}

.linha-2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* text-align: center; */
    justify-items: center;
}

.linha-3 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    /* text-align: center; */
    justify-items: center;
}
.posicao-1{
    position: absolute; 
 top: 59%; 
 left: 27%; 
 width:13%;
}

.posicao-2{
    position: absolute; 
 top: 53%; 
 left: 44%; 
 width:13%;
}
.posicao-3{
    position: absolute; 
 top: 56%; 
 left: 62%; 
 width:13%;
}
.posicao-4{
    position: absolute; 
 top: 86%; 
 left: 33%; 
 width:12%;
}
.posicao-5{
    position: absolute; 
 top: 92%; 
 left: 45%; 
 width:12%;
}
.posicao-6{
    position: absolute; 
 top: 86%; 
 left: 56%; 
 width:13%;
}
.posicao-7{
    position: absolute; 
 top: 113%; 
 left: 21%; 
 width:10%;
}
.posicao-8{
    position: absolute; 
 top: 114%; 
 left: 35%; 
 width:11%;
}
.posicao-9{
    position: absolute; 
 top: 114%; 
 left: 54%; 
 width:13%;
}
.posicao-10{
    position: absolute; 
 top: 112%; 
 left: 69%; 
 width:13%;
}
.posicao-11{
    position: absolute; 
 top: 131%; 
 left: 46%; 
 width:10%;
}