/* linguagem de texto */
:root{
    --cor-e-fundo: #ffffff;
    --cor-de-texto: #000000;
}

body{
    background-color: var(--cor-e-fundo);
    color:var(--cor-de-texto);
}
header{justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: yellowgreen;
    color: #ffffff;
}
.logo{
    width: 10%;
}
    .bola-dourada{
     font-size: 27px;
        text-align: center;
    }

    .campo-de-futebor{
        background-image: url(./7e1518_7a3705cd28264bcd94a83f1b5cd30b0d~mv2\ 1.png);
        height: 500px;
    background-size: 100% 100%;
    }

    #equipe{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }

    .foto-equipe{
        width: 39%;
    }